# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\u0139490\OneDrive - UC Leuven-Limburg\Bureaublad\leerstof\web2\labos\demo_Les3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
